## Data Cleaning and Renaming all Files

In [15]:
import os
import pandas as pd
import re
import emoji

input_folder = r'D:\SEM_2\MFC\graphAssignment\LinkedIn Data Public'
output_folder = r'D:\SEM_2\MFC\graphAssignment\cleanedFiles'

os.makedirs(output_folder, exist_ok=True)

cleaned_files = []
skipped_files = []
existing_names = set()

print("ğŸ”§ Setup complete. Input and output folders are ready.")

ğŸ”§ Setup complete. Input and output folders are ready.

In [16]:
def is_binary(file_path):
    try:
        with open(file_path, 'rb') as f:
            chunk = f.read(1024)
            return b'\x00' in chunk
    except Exception:
        return True

def clean_text(text):
    if isinstance(text, str):
        text = emoji.replace_emoji(text, "")
        text = re.sub(r'[^A-Za-z0-9 ]+', '', text)
        text = text.title().strip()
    return text

def parse_fallback(file_path):
    try:
        with open(file_path, 'r', encoding='ISO-8859-1', errors='ignore') as f:
            lines = f.readlines()

        cleaned_rows = []
        for line in lines:
            line = line.strip()
            if not line or line.startswith('#'):
                continue
            if ',' in line:
                cleaned_rows.append(line.split(','))
            elif '\t' in line:
                cleaned_rows.append(line.split('\t'))
            elif '|' in line:
                cleaned_rows.append(line.split('|'))

        if not cleaned_rows:
            return None

        max_len = max(len(row) for row in cleaned_rows)
        cleaned_rows = [row + [''] * (max_len - len(row)) for row in cleaned_rows]
        df = pd.DataFrame(cleaned_rows[1:], columns=cleaned_rows[0])
        return df

    except Exception as e:
        print(f"[FALLBACK ERROR] Failed to parse manually: {e}")
        return None

In [17]:
def clean_csv(file_path, output_path):
    print(f"\nğŸ“‚ Processing file: {os.path.basename(file_path)}")

    try:
        encodings = ['utf-8', 'ISO-8859-1', 'utf-16']
        df = None
        used_encoding = None

        for enc in encodings:
            try:
                df = pd.read_csv(file_path, encoding=enc, on_bad_lines='skip')
                used_encoding = enc
                break
            except Exception:
                continue

        if df is None or df.empty:
            print(f'âš ï¸ Fallback triggered for: {os.path.basename(file_path)}')
            df = parse_fallback(file_path)
            used_encoding = 'fallback'

        if df is None or df.empty:
            print(f"âŒ Could not recover or clean: {os.path.basename(file_path)}")
            skipped_files.append(os.path.basename(file_path))
            return

        print(f"âœ… File read successfully with encoding: {used_encoding}")
        print(f"ğŸ” Original shape: {df.shape}")

        df = df.drop_duplicates()
        df.columns = [clean_text(col) for col in df.columns]

        for col in df.select_dtypes(include=['object']).columns:
            df[col] = df[col].apply(clean_text)

        df = df.dropna(how='all')
        print(f"ğŸ“‰ After cleaning shape: {df.shape}")
        print(f"ğŸ“‘ Cleaned columns: {list(df.columns)}")

        if len(df.columns) > 3:
            if all(col in df.columns for col in ['First Name', 'Last Name', 'Company']):
                df = df[['First Name', 'Last Name', 'Company']]
                print("ğŸ“Œ Selected 3 main columns.")
        elif len(df.columns) == 3:
            df.columns = ['First Name', 'Last Name', 'Company']
        elif len(df.columns) == 1:
            new_cols = df.iloc[:, 0].str.split(expand=True, n=2)
            new_cols.columns = ['First Name', 'Last Name', 'Company'][:new_cols.shape[1]]
            df = new_cols
            print("ğŸ§© Split single column into multiple.")

        for col in df.columns:
            long_values = df[col].apply(lambda x: len(str(x)) > 100)
            if long_values.any():
                print(f"âœ‚ï¸ Trimming long text in column: {col}")
                df = df[~long_values]

        display(df.head())
        df.to_csv(output_path, index=False)
        print(f"ğŸ’¾ Cleaned data saved to: {output_path}")
        cleaned_files.append(os.path.basename(file_path))

    except Exception as e:
        print(f'[ERROR] Could not clean {os.path.basename(file_path)}: {e}')
        skipped_files.append(os.path.basename(file_path))

In [18]:
for file_name in os.listdir(input_folder):
    original_path = os.path.join(input_folder, file_name)

    if not os.path.isfile(original_path):
        continue

    ext = os.path.splitext(file_name)[1].lower()
    base_name = os.path.splitext(file_name)[0]
    cleaned_file_name = base_name + '.csv'
    cleaned_path = os.path.join(output_folder, cleaned_file_name)

    if ext == '.xlsx':
        try:
            df = pd.read_excel(original_path)
            df.to_csv(cleaned_path, index=False)
            print(f"[CONVERTED] {file_name} -> {cleaned_file_name}")
        except Exception as e:
            print(f"[ERROR] Failed to convert {file_name}: {e}")
            skipped_files.append(file_name)
            continue

    input_path_for_cleaning = cleaned_path if ext == '.xlsx' else original_path
    clean_csv(input_path_for_cleaning, cleaned_path)

ğŸ“‚ Processing file: Aaditya_Raj - Aaditya Raj.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (267, 3)
ğŸ“‰ After cleaning shape: (266, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name Last Name                        Company
0  Harsh Kumar     Singh             Avenues Iit Bombay
1      Saurabh     Singh                            NaN
2      Anamika    Kumari                            NaN
3       Hariom    Parmar              Anudip Foundation
4        Sukhe            Minerva Academy Football Club

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Aaditya_Raj - Aaditya Raj.csv

ğŸ“‚ Processing file: Abhishek_Singh - Abhishek Singh.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (164, 3)
ğŸ“‰ After cleaning shape: (161, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name     Last Name                         Company
0     Tarang        Pandey                    Shiksha Bank
1      Aarti         Patil                             NaN
2     Lokesh   Prajapat Hr  Jawahar Navodaya Vidyalaya Jnv
3    Prabhat         Kumar                             NaN
4  Baikuntha  Nath Mangual                             NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Abhishek_Singh - Abhishek Singh.csv

ğŸ“‚ Processing file: Aditya_Singh - Aditya NO-LASTNAME.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (291, 5)
ğŸ“‰ After cleaning shape: (289, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Unnamed 2', 'Unnamed 3', 'Company']
ğŸ“Œ Selected 3 main columns.

    First Name   Last Name                                            Company
0     Satendra       Kumar                                                NaN
1       Aakash       Kumar                                                NaN
2      Maneesh     Sakhwar                                                NaN
3      Ricardo  Baezayates  Institute For Experiential Ai At Northeastern ...
4  Mohd Shadab      Ansari                            Bharat Navodaya Abhiyan

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Aditya_Singh - Aditya NO-LASTNAME.csv

ğŸ“‚ Processing file: Afzal_Raza - Afzl Raza.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (602, 3)
ğŸ“‰ After cleaning shape: (599, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name  Last Name                                 Company
0      Shalini     Parmar                    Wolf Pack Media Work
1        Sunil     Ingole                                   Zimyo
2     Vanshika        Das                          Unified Mentor
3  Suraj Kumar     Sharma  Bizthon  The Global Business Hackathon
4        Nishi  Choudhary                              Navgurukul

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Afzal_Raza - Afzl Raza.csv

ğŸ“‚ Processing file: Ajay Jatav Connections-1 - Ajay Jatav.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (580, 3)
ğŸ“‰ After cleaning shape: (568, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

        First Name Last Name             Company
0          Shalini     Singh                 NaN
1  Whitehattoolbox      Jobs  Australiajobstoday
2   Somitrasr From  Timidlly        Timidlly Inc
3           Sandip     Kumar                 NaN
4           Surbhi    Kumari                 NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ajay Jatav Connections-1 - Ajay Jatav.csv

ğŸ“‚ Processing file: Ajit_Yadav - Ajit Yadav.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (179, 3)
ğŸ“‰ After cleaning shape: (177, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                              Company
0     Amrita     Yadav              Northeastern University
1   Inderdev     Kumar                                  NaN
2      Dhruv   Prakash                                  NaN
3      Arpit    Bharti  National Small Industries Corp Nsic
4      Guman     Singh                                  NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ajit_Yadav - Ajit Yadav.csv

ğŸ“‚ Processing file: Akanksha_Kushwaha - Akanksha.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (361, 3)
ğŸ“‰ After cleaning shape: (354, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name  Last Name                  Company
0        Vinit  Chaudhary                      NaN
1        Shlok     Maurya                      NaN
2        Purti      Singh                      NaN
3        Nitin     Sharma                      NaN
4  Mohd Shadab     Ansari  Bharat Navodaya Abhiyan

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Akanksha_Kushwaha - Akanksha.csv

ğŸ“‚ Processing file: Alok_raj - Alok Raj.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (2134, 3)
ğŸ“‰ After cleaning shape: (2101, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name Last Name                     Company
0  Yuvraj Singh     Bhati                         NaN
1        Gaurav     Singh           Sense Sharemarket
2         Rahul      Bali                         NaN
3          Mani     Kumar                         NaN
4         Rohit     Yadav  Marquee Fellowship Program

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Alok_raj - Alok Raj.csv

ğŸ“‚ Processing file: Aman_ Adarsh.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (301, 3)
ğŸ“‰ After cleaning shape: (300, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name                        Company
0     Sandip       Kumar                            NaN
1   Priyanka  Shrivastav                Arogya Yogshala
2     Sachin      Maurya  Amera Exports Private Limited
3      Laxmi   Prajapati                     Logixcraft
4    Nishant     Koundal                         Upwork

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Aman_ Adarsh.csv

ğŸ“‚ Processing file: Aman_Singh - Aman Singh.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (2780, 3)
ğŸ“‰ After cleaning shape: (2758, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                   Company
0      Mohit     Kumar                       NaN
1      Soham   Debnath  Assam Central University
2     Khushi     Singh                       NaN
3    Pranjal     Gupta        Standard Chartered
4      Anand   Chelian               Sevika Tech

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Aman_Singh - Aman Singh.csv

ğŸ“‚ Processing file: amit_kumar - Amit Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (425, 3)
ğŸ“‰ After cleaning shape: (422, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name   Last Name                                   Company
0      Anshuman  Srivastava  Life Insurance Corporation Of India  Lic
1         Anshu       Kumar                                       NaN
2  Yuvraj Singh       Bhati                                       NaN
3   Mohd Shadab      Ansari                   Bharat Navodaya Abhiyan
4          Mani       Kumar                                       NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\amit_kumar - Amit Kumar.csv

ğŸ“‚ Processing file: Anamika_Kumari - Anamika Kumari.csv
âœ… File read successfully with encoding: ISO-8859-1
ğŸ” Original shape: (909, 3)
ğŸ“‰ After cleaning shape: (892, 3)
ğŸ“‘ Cleaned columns: ['Unnamed 0', 'Unnamed 1', 'Unnamed 2']

    First Name  Last Name                          Company
2   First Name  Last Name                          Company
3        Vijay      Kumar                              Amd
4         Mani     Vardha                        Pocket Fm
5  Sai Sirisha     Meduri                  Syren Cloud Inc
6      Dheeraj     Sanghi  Jk Lakshmipat University Jaipur

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Anamika_Kumari - Anamika Kumari.csv

ğŸ“‚ Processing file: Anand_Pandey - Anand Pandey.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (756, 3)
ğŸ“‰ After cleaning shape: (744, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name   Last Name          Company
0  Dropncustom  Ashi Patel              NaN
1        Paras       Pawar              NaN
2         Yash      Mittal  Aarna Creations
3        Gargi      Muhuri     Selfemployed
4        Nisha      Pandey       Edugorilla

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Anand_Pandey - Anand Pandey.csv

ğŸ“‚ Processing file: Anoop_Kumar - ANOOP KUMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (237, 15)
ğŸ“‰ After cleaning shape: (237, 15)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6', 'Unnamed 7', 'Unnamed 8', 'Unnamed 9', 'Unnamed 10', 'Unnamed 11', 'Unnamed 12', 'Unnamed 13', 'Unnamed 14']
ğŸ“Œ Selected 3 main columns.

    First Name  Last Name                             Company
0       Aakash      Kumar                                 NaN
1      Prakash     Behera  Edutech Nttf India Private Limited
2       Sandip      Kumar                                 NaN
3     Himanshu  Srivastav                                 NaN
4  Mohd Shadab     Ansari             Bharat Navodaya Abhiyan

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Anoop_Kumar - ANOOP KUMAR.csv

ğŸ“‚ Processing file: Anshu_Kumar - Anshu Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (589, 3)
ğŸ“‰ After cleaning shape: (584, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name    Company
0    Aaditya       Raj        NaN
1    Aaditya     Singh     Amazon
2     Aakash      Deep        NaN
3     Aakash  Pushpesh        NaN
4     Aarshi    Bodani  Unstarted

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Anshu_Kumar - Anshu Kumar.csv

ğŸ“‚ Processing file: Anuradha_Tiwari - Anuradha Tiwari.csv
âœ… File read successfully with encoding: ISO-8859-1
ğŸ” Original shape: (742, 3)
ğŸ“‰ After cleaning shape: (732, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                             Company
0     Khushi      Rana                                 NaN
1     Hariom    Parmar                   Anudip Foundation
2    Prakash    Behera  Edutech Nttf India Private Limited
3     Rushan      Khan                          Novasphere
4     Aakash     Kumar                                 NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Anuradha_Tiwari - Anuradha Tiwari.csv

ğŸ“‚ Processing file: Anushri_Mishra - Anushri Mishra.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (429, 3)
ğŸ“‰ After cleaning shape: (420, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name Company
0      Sunil       Kumar     NaN
1       Mani       Kumar     NaN
2      Suman      Saurav     NaN
3    Prasant       Kumar     NaN
4     Shriya  Srivastava     NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Anushri_Mishra - Anushri Mishra.csv

ğŸ“‚ Processing file: Aradhya_Patel - Aradhya Patel.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (263, 3)
ğŸ“‰ After cleaning shape: (259, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

       First Name Last Name            Company
0          Aakash     Kumar                NaN
1          Aakash     Kumar            Beansai
2          Aakash     Verma       Learn To Win
3           Aarti     Patil                NaN
4  Aayushi Maurya    Maurya  Digital Marketing

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Aradhya_Patel - Aradhya Patel.csv

ğŸ“‚ Processing file: Arjun Kadam - Arjun Kadam.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (300, 3)
ğŸ“‰ After cleaning shape: (300, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                     Company
0      Akhil       Kvk                    Aspireup
1   Ashutosh                   Dakshana Foundation
2    Aashish    Pandey        Blue Data Consulting
3     Ritika  Banerjee                         NaN
4    Sudipto       Deb  Autonxt Automation Pvt Ltd

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Arjun Kadam - Arjun Kadam.csv

ğŸ“‚ Processing file: Arpita_Tripathi - Arpita Tripathi.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (270, 3)
ğŸ“‰ After cleaning shape: (268, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name                                            Company
0     Sonika     Thakral  Shaheed Sukhdev College Of Business Studies Un...
1     Khushi      Maurya                                     Srmcem Lucknow
2     Shivam  Srivastava                                                NaN
3   Ashutosh      Ranjan                                                NaN
4       Mani       Kumar                                                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Arpita_Tripathi - Arpita Tripathi.csv

ğŸ“‚ Processing file: Arun_Singh - ARUN KUMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (670, 3)
ğŸ“‰ After cleaning shape: (656, 3)
ğŸ“‘ Cleaned columns: ['Unnamed 0', 'Unnamed 1', 'Unnamed 2']

   First Name  Last Name         Company
2  First Name  Last Name         Company
3       Sumit  Chaudhuri             NaN
4        Mani      Kumar             NaN
5        Ashu      Yadav  Jatariamusic01
6     Vaibhav       Arya             NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Arun_Singh - ARUN KUMAR.csv

ğŸ“‚ Processing file: aryan_saini - Aryan Saini.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1663, 3)
ğŸ“‰ After cleaning shape: (1659, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name  Last Name    Company
0   Gorgeous   Gurasees  Microsoft
1     Priyam      Singh  Eightfold
2  Siddharth     Swarup     Amazon
3     Shreya      Singh    Hcltech
4     Vishva  Nathvanai     Oracle

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\aryan_saini - Aryan Saini.csv
[CONVERTED] Ashwin_Yadav - Ashwin Yadav.xlsx -> Ashwin_Yadav - Ashwin Yadav.csv

ğŸ“‚ Processing file: Ashwin_Yadav - Ashwin Yadav.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (371, 3)
ğŸ“‰ After cleaning shape: (362, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

      First Name Last Name                  Company
0  Vishnu Pratap     Singh                      NaN
1   Yuvraj Singh     Bhati                      NaN
2           Mani     Kumar                      NaN
3    Mohd Shadab    Ansari  Bharat Navodaya Abhiyan
4          Sumit     Mehra                      NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ashwin_Yadav - Ashwin Yadav.csv

ğŸ“‚ Processing file: Ayush_Kumar - Ayush Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1765, 3)
ğŸ“‰ After cleaning shape: (1750, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name          Company
0     Nilesh     Singh             Bsnl
1    New Sai   Websoft  New Sai Websoft
2   Harshita     Baggi              NaN
3      Malay    Shukla              NaN
4      Durga    Prasad              NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ayush_Kumar - Ayush Kumar.csv

ğŸ“‚ Processing file: Ayush_yadav - AYUSH YADAV.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (222, 3)
ğŸ“‰ After cleaning shape: (218, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name      Last Name                         Company
0      Sukhe                 Minerava Academy Football Club
1       Mani          Kumar                             NaN
2      Nitin         Sharma                             NaN
3      Ankur          Kumar                             NaN
4    Byagari  Praveen Kumar                             NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ayush_yadav - AYUSH YADAV.csv

ğŸ“‚ Processing file: Bhagwati_Chouhan - Bhagwati NO-LASTNAME.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (338, 3)
ğŸ“‰ After cleaning shape: (338, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                         Company
0    Ashwani    Pandey  Unified Mentor Private Limited
1    Mallesh    Kamati                             NaN
2       Annu     Verma                             NaN
3   Jitendra     Kumar                     Lendingkart
4     Nirmal     Kumar                             NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Bhagwati_Chouhan - Bhagwati NO-LASTNAME.csv

ğŸ“‚ Processing file: Bhaskar_mahato - Bhaskar Mahato.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (817, 3)
ğŸ“‰ After cleaning shape: (802, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name Company
0       Veer    Saxena     NaN
1     Omaima     Ameen     NaN
2       Amar     Gupta     NaN
3      Nisha     Bisht     Ibm
4      Yunus     Israr     NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Bhaskar_mahato - Bhaskar Mahato.csv

ğŸ“‚ Processing file: ByagariPraveen_Kumar - Byagari Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (2639, 3)
ğŸ“‰ After cleaning shape: (2620, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                 Company
0      Rahul   Hembram  Unnati Welfare Society
1    Shaurya     Yadav                     NaN
2       Mani     Kumar                     NaN
3      Akram      Khan               Teachmint
4     Nikhil  Mandhani                Fulltoss

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\ByagariPraveen_Kumar - Byagari Kumar.csv

ğŸ“‚ Processing file: Challa_Trivedh_Kumar - CHALLA TRIVEDH KUMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (3012, 7)
ğŸ“‰ After cleaning shape: (2991, 7)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
ğŸ“Œ Selected 3 main columns.

     First Name Last Name                                     Company
0         Sayan     Dhani  Institute Student Companion Programme Iscp
1  Guntas Singh     Saran    Student Academic Council Iit Gandhinagar
2        Aditya     Kudre                             Idfc First Bank
3         Sunny     Kumar                                        Navi
4        Mukund     Gupta                             Tedx Iitjodhpur

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Challa_Trivedh_Kumar - CHALLA TRIVEDH KUMAR.csv

ğŸ“‚ Processing file: CHANDAN_GIRI - Chandan Giri.csv
âœ… File read successfully with encoding: ISO-8859-1
ğŸ” Original shape: (2033, 7)
ğŸ“‰ After cleaning shape: (2007, 7)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
ğŸ“Œ Selected 3 main columns.

     First Name Last Name                                  Company
0        Aditya       Jha  Centre For Career Planning And Services
1  Aditya Mohan    Maurya                                      NaN
2       Devansh    Tiwari                        Innobyte Services
3        Suyash     Verma                                      NaN
4         Palak     Tayal                                      NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\CHANDAN_GIRI - Chandan Giri.csv

ğŸ“‚ Processing file: Chiranjeet_Biswas - Chiranjeet Biswas.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (84, 4)
ğŸ“‰ After cleaning shape: (84, 4)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3']
ğŸ“Œ Selected 3 main columns.

  First Name  Last Name     Company
0    Saurabh      Bisht         NaN
1      Sneha       Shaw         NaN
2    Karthic  Elangovan  Nexus Info
3    Shubham       Kang         NaN
4     Anshul     Sharma         NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Chiranjeet_Biswas - Chiranjeet Biswas.csv

ğŸ“‚ Processing file: Cleaned_Connections - Bhagwan Singh Rawat.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (123, 3)
ğŸ“‰ After cleaning shape: (123, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                             Company
0     Hariom    Parmar                   Anudip Foundation
1       Meet   Panchal                          Amul Gcmmf
2    Anamika    Kumari                                 NaN
3    Prakash    Behera  Edutech Nttf India Private Limited
4     Bhavin     Bhatt                           Kepco Kps

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Cleaned_Connections - Bhagwan Singh Rawat.csv

ğŸ“‚ Processing file: Connection - VISHAL KUMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (797, 3)
ğŸ“‰ After cleaning shape: (781, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name          Company
0      Abhay       Yadav              NaN
1   Priyanka  Shrivastav  Arogya Yogshala
2     Deepak       Gupta              NaN
3     Chetan      Brahmi              NaN
4     Vemula        Ramu              NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Connection - VISHAL KUMAR.csv

ğŸ“‚ Processing file: connection1-1 - Aman Adarsh.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (310, 3)
ğŸ“‰ After cleaning shape: (303, 3)
ğŸ“‘ Cleaned columns: ['Notes', 'Unnamed 1', 'Unnamed 2']
âœ‚ï¸ Trimming long text in column: First Name

   First Name   Last Name                        Company
2  First Name   Last Name                        Company
3      Sandip       Kumar                            NaN
4    Priyanka  Shrivastav                Arogya Yogshala
5      Sachin      Maurya  Amera Exports Private Limited
6       Laxmi   Prajapati                     Logixcraft

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\connection1-1 - Aman Adarsh.csv

ğŸ“‚ Processing file: Connections - Aman Verma.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (253, 5)
ğŸ“‰ After cleaning shape: (253, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Position', 'Connected On']
ğŸ“Œ Selected 3 main columns.

     First Name  Last Name Company
0         Nitin     Sharma     NaN
1        Shilpi       Shaw     NaN
2  Yuvraj Singh      Bhati     NaN
3     Chitransh      Daiya     NaN
4         Sumit  Chaudhuri     NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Connections - Aman Verma.csv

ğŸ“‚ Processing file: Connections - Anand Singh.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (188, 3)
ğŸ“‰ After cleaning shape: (188, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name Company
0     Gaurav     Kumar     NaN
1      Vinay     Gupta     NaN
2      Rohit     Kumar     NaN
3       Yash     Yadav     NaN
4    Bhagwan     Singh     NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Connections - Anand Singh.csv

ğŸ“‚ Processing file: Connections - Harshit Chaturvedi.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (273, 3)
ğŸ“‰ After cleaning shape: (270, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name       Last Name             Company
0    Prakhar          Pandey                 NaN
1    Dheeraj  Kumar Maradana                 NaN
2      Suraj       Prajapati          Klearnowai
3    Harshit       Chachriya  Ecell Iit Guwahati
4       Uday           Tyagi    Pw Physicswallah

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Connections - Harshit Chaturvedi.csv

ğŸ“‚ Processing file: connections - N. Arun Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (393, 3)
ğŸ“‰ After cleaning shape: (388, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name    Last Name                                 Company
0       Mani        Kumar                                     NaN
1    Navneet       Pandey                                 Youtube
2      Shiva       Bajpai                               Nextlevel
3     Sachin        Verma                                     NaN
4   Narender  Dammalapati  Siddhartha Academy Of Higher Education

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\connections - N. Arun Kumar.csv

ğŸ“‚ Processing file: Connections - Ompal Yadav.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1636, 7)
ğŸ“‰ After cleaning shape: (1613, 7)
ğŸ“‘ Cleaned columns: ['Notes', 'Unnamed 1', 'Unnamed 2', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
âœ‚ï¸ Trimming long text in column: Notes

,Notes,Unnamed 1,Unnamed 2,Unnamed 3,Unnamed 4,Unnamed 5,Unnamed 6
2,First Name,Last Name,NaN,NaN,Company,NaN,NaN
3,Anjali,Angel,NaN,NaN,Medhavi Association,NaN,NaN
4,Mrsaurabh,Mishra,NaN,NaN,Freelance,NaN,NaN
5,Harsh,Rajpoot,NaN,NaN,NaN,NaN,NaN
6,Akash,Dixit,NaN,NaN,NaN,NaN,NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Connections - Ompal Yadav.csv

ğŸ“‚ Processing file: Connections - RAVI RAJPUT.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (4305, 3)
ğŸ“‰ After cleaning shape: (4273, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name             Company
0    Deepika       Yerra           Microsoft
1     Anjali  Srivastava  Afame Technologies
2     Ashish      Pathak             Xoxoday
3     Lokesh        Rana    Kavach Hackathon
4      Aryan      Shukla                 NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Connections - RAVI RAJPUT.csv

ğŸ“‚ Processing file: debangsu_misra.csv - Debangsu Misra.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (628, 3)
ğŸ“‰ After cleaning shape: (618, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                               Company
0    Shiksha   Trivedi                          Career Corps
1       Alok     Singh                          Ieee Sb Nitp
2     Gourav    Shimli                Vyn Automation Pvt Ltd
3      Varun    Sharma  Indian Institute Of Technology Mandi
4   Satendra     Kumar                                   NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\debangsu_misra.csv - Debangsu Misra.csv

ğŸ“‚ Processing file: desktop.ini
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1, 1)
ğŸ“‰ After cleaning shape: (1, 1)
ğŸ“‘ Cleaned columns: ['Localizedfilenames']
[ERROR] Could not clean desktop.ini: Can only use .str accessor with string values!

ğŸ“‚ Processing file: Dilip_Suthar - DILIP SUTHAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (336, 3)
ğŸ“‰ After cleaning shape: (335, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name  Company
0    Aaditya       Raj      NaN
1     Aakash     Kumar      NaN
2     Aakash     Kumar  Beansai
3     Aakash      Deep      NaN
4      Aarti     Patil      NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Dilip_Suthar - DILIP SUTHAR.csv

ğŸ“‚ Processing file: Disha_Sahu - Disha Sahu.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (415, 3)
ğŸ“‰ After cleaning shape: (410, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

        First Name Last Name                               Company
0  Shaurya  Bajpai                                             NaN
1           Khushi    Maurya                        Srmcem Lucknow
2      Mohd Shadab    Ansari               Bharat Navodaya Abhiyan
3           Srijan   Debnath  Google Developer Student Clubs  Jgec
4             Mani     Kumar                                   NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Disha_Sahu - Disha Sahu.csv

ğŸ“‚ Processing file: Divyanshi_Rathour - Divyanshi Rathour.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (455, 7)
ğŸ“‰ After cleaning shape: (440, 7)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
ğŸ“Œ Selected 3 main columns.

  First Name   Last Name  Company
0       Aadi     Chandra      NaN
1    Aakarsh  Srivastava      Ibm
2     Aakash       Kumar      NaN
3     Aakash    Pushpesh      NaN
4     Aakash       Kumar  Beansai

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Divyanshi_Rathour - Divyanshi Rathour.csv

ğŸ“‚ Processing file: Divyanshi_Sahu.csv - Divyanshi Sahu.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (698, 5)
ğŸ“‰ After cleaning shape: (693, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4']
ğŸ“Œ Selected 3 main columns.

  First Name Last Name            Company
0       Mani     Kumar                NaN
1      Anshu     Kumar                NaN
2   Shashank    Mishra  Edunet Foundation
3     Sanjay       V P                NaN
4     Nikhil     Kumar        Ltimindtree

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Divyanshi_Sahu.csv - Divyanshi Sahu.csv

ğŸ“‚ Processing file: Ekta Kumari - Ekta Kumari.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (859, 3)
ğŸ“‰ After cleaning shape: (842, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name         Company
0       Amar       Kumar            Yoho
1      Shaik  Jabinabanu             Sap
2       Ashu       Yadav  Jatariamusic01
3       Mani       Kumar             NaN
4     Pragya         Das             Pwc

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ekta Kumari - Ekta Kumari.csv

ğŸ“‚ Processing file: gaurav_khainwar.csv - Gaurav Khainwar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (159, 3)
ğŸ“‰ After cleaning shape: (157, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name  Last Name                             Company
0     Nikhil    Kushwah          Delywizz Software Solution
1     Aakash      Kumar                                 NaN
2    Prakash     Behera  Edutech Nttf India Private Limited
3      Vivek       Shah  Jai Shree Ram Agro Private Limited
4   Himanshu  Srivastav                                 NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\gaurav_khainwar.csv - Gaurav Khainwar.csv

ğŸ“‚ Processing file: Gaurav_Rathore - Gaurav Rathore.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1035, 3)
ğŸ“‰ After cleaning shape: (1024, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                                   Company
0       Mani     Kumar                                       NaN
1    Saurabh    Mishra                                       NaN
2    Pushkar   Jaiswal                                       NaN
3      Mahak    Mishra                                       NaN
4  Sudhanshu       Jha  Moniba Technology And Innovation Pvt Ltd

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Gaurav_Rathore - Gaurav Rathore.csv

ğŸ“‚ Processing file: Gaurav_Tiwari - GAURAV TIWARI.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (604, 3)
ğŸ“‰ After cleaning shape: (601, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

,First Name,Last Name,Company
0,Mani,Kumar,NaN
1,Prof Muhammad Younush,Rana,Foeii University Of Skills And Entrepreneurshi...
2,Annu,Verma,NaN
3,Gaurav,Hooda,Bharattech
4,Garv,Kukkal,Engifest Dtu

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Gaurav_Tiwari - GAURAV TIWARI.csv

ğŸ“‚ Processing file: Harisingh_Rajpoot - Harisingh Rajpoot.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (684, 3)
ğŸ“‰ After cleaning shape: (677, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

       First Name Last Name             Company
0    Yuvraj Singh     Bhati                 NaN
1        Dwarkesh    Saxena  Whizoid Studio Llp
2           Amaan      Sami                 NaN
3  Mithlesh Kumar    Shukla            Pagalguy
4         Rajveer      Sahu           Sae Manit

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Harisingh_Rajpoot - Harisingh Rajpoot.csv

ğŸ“‚ Processing file: HimanshuKanwarChundawat - Himanshu Chundawat.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (366, 3)
ğŸ“‰ After cleaning shape: (354, 3)
ğŸ“‘ Cleaned columns: ['Notes', 'Unnamed 1', 'Unnamed 2']
âœ‚ï¸ Trimming long text in column: First Name

   First Name  Last Name                             Company
2  First Name  Last Name                             Company
3       Jatin     Sharma                                 NaN
4     Prakash     Behera  Edutech Nttf India Private Limited
5    Ramendra      Kumar                                 NaN
6        Mani      Kumar                                 NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\HimanshuKanwarChundawat - Himanshu Chundawat.csv

ğŸ“‚ Processing file: Himanshu_kumar - Himanshu Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (2919, 5)
ğŸ“‰ After cleaning shape: (2851, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4']
ğŸ“Œ Selected 3 main columns.

,First Name,Last Name,Company
0,Palak,Garg,Chegg India
1,Runjhun,Pal,Amazon
2,Kunwar Mayank,Mrinal Rawal,Motilal Nehru National Institute Of Technology...
3,Arnab,Deo,Soa Photography Club
4,Aditya,Kumar,NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Himanshu_kumar - Himanshu Kumar.csv

ğŸ“‚ Processing file: Himanshu_Srivastav - Himanshu Srivastav.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (475, 3)
ğŸ“‰ After cleaning shape: (471, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name                      Company
0   Parvathy           H                        Iturn
1   Mr Vikas  Chaurasiya  Hanumant Technology Pvt Ltd
2     Preeti      Mahour                          NaN
3    Shubham      Mishra  Hanumant Technology Pvt Ltd
4       Aman       Singh                          NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Himanshu_Srivastav - Himanshu Srivastav.csv

ğŸ“‚ Processing file: Hiranya_Patil - Hiranya Patil.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (320, 3)
ğŸ“‰ After cleaning shape: (318, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name                                            Company
0       Ravi      Mourya                                                NaN
1  Samriddhi  Srivastava  Shri Ramswaroop Memorial College Of Engineerin...
2      Ritik       Singh                                                NaN
3      Sajan       Kumar                                                NaN
4      Harsh  Chourasiya                                                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Hiranya_Patil - Hiranya Patil.csv

ğŸ“‚ Processing file: Ishant_Bhoyar - ISHANT BHOYAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1043, 3)
ğŸ“‰ After cleaning shape: (1037, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name                              Company
0      Aadil      Mulani            Think India Iit Kharagpur
1    Aaditya  Srivastava                           Procurenet
2    Aaditya         Raj                                  NaN
3    Aaditya       Verma  Entrepreneurship Cell Iit Kharagpur
4    Aaditya       Singh                               Amazon

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ishant_Bhoyar - ISHANT BHOYAR.csv

ğŸ“‚ Processing file: JAMAL_AKHTAR - JAMAL AKHTAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (682, 5)
ğŸ“‰ After cleaning shape: (674, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4']
ğŸ“Œ Selected 3 main columns.

  First Name  Last Name             Company
0      Harsh    Mahajan  Fluxus  Iit Indore
1      Sumit  Chaudhuri                 NaN
2    Vivaram    Rithika                 NaN
3      Anmol     Pandey                 NaN
4       Mani      Kumar                 NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\JAMAL_AKHTAR - JAMAL AKHTAR.csv

ğŸ“‚ Processing file: Janu_Chaudhary - Janu Chaudhary.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (2262, 3)
ğŸ“‰ After cleaning shape: (2253, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name     Last Name             Company
0    Pranjal         Gupta  Standard Chartered
1     Aditya       Dwivedi  Voyagerschandigarh
2    Arshlan          Khan                 NaN
3       Veer        Porwal     Startshieldstsh
4         Md  Faiyaz Shams    Internet Society

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Janu_Chaudhary - Janu Chaudhary.csv

ğŸ“‚ Processing file: KARANPAL_SINGH_RANAWAT - KARANPAL SINGH RANAWAT.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (114, 7)
ğŸ“‰ After cleaning shape: (113, 7)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
ğŸ“Œ Selected 3 main columns.

    First Name Last Name                                     Company
0  Ayush Mohan       Sah  International College For Security Studies
1      Abhinav    Mishra        Indian Institute Of Technology Mandi
2        Rajiv     Kumar                                         NaN
3      Shravan       Ram                            Ambient Security
4      Bhaskar    Mahato                                         NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\KARANPAL_SINGH_RANAWAT - KARANPAL SINGH RANAWAT.csv

ğŸ“‚ Processing file: khushi_narwariya - Khushi Narwariya.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (269, 3)
ğŸ“‰ After cleaning shape: (262, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name            Company
0   Ravindra    Baghel                NaN
1      Kajal    Kumari                NaN
2    Masedur   Rahaman                NaN
3      Shubh     Gupta                NaN
4      Vinod     Kumar  Raj Disle Pvt Ltd

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\khushi_narwariya - Khushi Narwariya.csv

ğŸ“‚ Processing file: Kuldeep_Saraswat - Kuldeep saraswat.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (472, 7)
ğŸ“‰ After cleaning shape: (461, 7)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
ğŸ“Œ Selected 3 main columns.

  First Name  Last Name            Company
0       Mani      Kumar                NaN
1    Raushan      Kumar          Byteup Ai
2      Punam     Mandal                NaN
3     Gaurav      Kumar                NaN
4    Ashwini  Singh Phd  Sitare University

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Kuldeep_Saraswat - Kuldeep saraswat.csv

ğŸ“‚ Processing file: Lakhan_Rathore - Lakhan Rathore.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (319, 3)
ğŸ“‰ After cleaning shape: (316, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name Company
0     Aakash     Kumar     NaN
1     Sandip     Kumar     NaN
2    Saurabh     Singh     NaN
3    Nishant   Koundal  Upwork
4      Punam    Mandal     NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Lakhan_Rathore - Lakhan Rathore.csv

ğŸ“‚ Processing file: linkedin list - Nidhi Kumari.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (272, 3)
ğŸ“‰ After cleaning shape: (270, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                                            Company
0     Vickey     Kumar                                                NaN
1     Pankaj     Kumar                                Techfest Iit Bombay
2      Vikas     Singh                                           Dayforce
3      Vivek  Thombare  Visvesvaraya National Institute Of Technology ...
4       Vasa     Tarun                                                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\linkedin list - Nidhi Kumari.csv

ğŸ“‚ Processing file: linkedin_Connections - SNEHA SHAW.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (328, 3)
ğŸ“‰ After cleaning shape: (324, 3)
ğŸ“‘ Cleaned columns: ['Notes', 'Unnamed 1', 'Unnamed 2']
âœ‚ï¸ Trimming long text in column: First Name

   First Name  Last Name                  Company
2  First Name  Last Name                  Company
3        Amit      Verma              Nexttechera
4        Ashu      Yadav           Jatariamusic01
5        Mani      Kumar                      NaN
6      Amrita      Yadav  Northeastern University

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\linkedin_Connections - SNEHA SHAW.csv

ğŸ“‚ Processing file: Linked_in_connection - Samina Sultana.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (402, 3)
ğŸ“‰ After cleaning shape: (390, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                        Company
0     Vishal     Singh  Forever Living Products India
1      Manoj   Kharkar                            NaN
2       Mani     Kumar                            NaN
3     Manish                                      NaN
4      Dilip    Suthar                            NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Linked_in_connection - Samina Sultana.csv

ğŸ“‚ Processing file: Maneesh_Sakhwar - Maneesh Sakhwar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (99, 5)
ğŸ“‰ After cleaning shape: (98, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Unnamed 2', 'Unnamed 3', 'Company']
ğŸ“Œ Selected 3 main columns.

  First Name   Last Name                                         Company
0     Aditya       Singh                                             NaN
1     Kirtan      Khichi  Dst Centre For Policy Research  Iisc Bangalore
2     Shivam      Shukla                                             NaN
3      Ayush       Kumar                                             NaN
4      Harsh  Chourasiya                                             NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Maneesh_Sakhwar - Maneesh Sakhwar.csv

ğŸ“‚ Processing file: Manish_Tiwari - MANISH KUMAR TIWARI.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1308, 3)
ğŸ“‰ After cleaning shape: (1289, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

      First Name Last Name                               Company
0  Vishnu Pratap     Singh                                   NaN
1        Sunidhi    Rajput            Hindco Consulting Services
2         Srijan   Debnath  Google Developer Student Clubs  Jgec
3           Amit     Verma                           Nexttechera
4         Sadiya       Gul                        Ekal Vidyalaya

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Manish_Tiwari - MANISH KUMAR TIWARI.csv
[CONVERTED] Manoj K. Connections - MANOJ KHARKAR.xlsx -> Manoj K. Connections - MANOJ KHARKAR.csv

ğŸ“‚ Processing file: Manoj K. Connections - MANOJ KHARKAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (295, 3)
ğŸ“‰ After cleaning shape: (294, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

   First Name  Last Name            Company
0      Samina    Sultana                NaN
1  Dheerendra     Mishra  Sitare University
2        Mani      Kumar                NaN
3     Anamika     Kumari                NaN
4     Saurabh  Shekhawat         Altimetrik

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Manoj K. Connections - MANOJ KHARKAR.csv
[CONVERTED] Manoj_Dewda - Manoj Dewda.xlsx -> Manoj_Dewda - Manoj Dewda.csv

ğŸ“‚ Processing file: Manoj_Dewda - Manoj Dewda.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (4215, 3)
ğŸ“‰ After cleaning shape: (4174, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                                  Company
0       Mani     Kumar                                      NaN
1       Amar     Kumar                                     Yoho
2     Subham       Jha  Dr Apj Abdul Kalam Technical University
3      Rahul      Bali                                      NaN
4     Nikita   Paikara                                      NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Manoj_Dewda - Manoj Dewda.csv

ğŸ“‚ Processing file: Mausam_kumari - Mausam kumari.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (206, 3)
ğŸ“‰ After cleaning shape: (201, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

      First Name     Last Name        Company
0  Sachchidanand         Yadav            NaN
1          Rohit  Kumarshourya  Icube Systems
2        Nishant       Koundal         Upwork
3        Saurabh         Singh            NaN
4       Himanshu     Srivastav            NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Mausam_kumari - Mausam kumari.csv

ğŸ“‚ Processing file: Mayank_Raj - Mayank Raj.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1446, 5)
ğŸ“‰ After cleaning shape: (1418, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4']
ğŸ“Œ Selected 3 main columns.

      First Name Last Name                               Company
0         Hariom    Parmar                     Anudip Foundation
1         Srijan   Debnath  Google Developer Student Clubs  Jgec
2          Mansi  Tripathi                                   NaN
3  Sachchidanand     Yadav                                   NaN
4         Gaurav     Kumar                                   NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Mayank_Raj - Mayank Raj.csv

ğŸ“‚ Processing file: Mehtab_Alam - MEHTAB ALAM.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (824, 3)
ğŸ“‰ After cleaning shape: (815, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name    Last Name                                Company
0  Yuvraj Singh        Bhati                                    NaN
1        Aditya       Pandey                 Megalith Iit Kharagpur
2      Anukarsh       Pratap  Indian Institute Of Technology Indore
3      Divyansh          Rai               Technex Iit Bhu Varanasi
4        Roshan  Kumar Verma                        Njack Iit Patna

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Mehtab_Alam - MEHTAB ALAM.csv

ğŸ“‚ Processing file: Mohd_Monis - Monis.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (293, 3)
ğŸ“‰ After cleaning shape: (292, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name Last Name Company
0  Yuvraj Singh     Bhati     NaN
1      Satendra     Kumar     NaN
2         Ankit     Kumar     NaN
3        Aakash     Kumar     NaN
4         Ritik     Singh     NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Mohd_Monis - Monis.csv

ğŸ“‚ Processing file: Mohit_Sharma - Mohit Sharma.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1318, 3)
ğŸ“‰ After cleaning shape: (1301, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

      First Name  Last Name                   Company
0  Sachchidanand      Yadav                       NaN
1          Ayush  Kumar Roy              Student Says
2         Gaurav      Kumar                       NaN
3         Hariom     Parmar         Anudip Foundation
4          Soham    Debnath  Assam Central University

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Mohit_Sharma - Mohit Sharma.csv

ğŸ“‚ Processing file: Monu_Rajpoot - Monu Rajpoot.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (909, 3)
ğŸ“‰ After cleaning shape: (895, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

      First Name       Last Name     Company
0         Kashak          Sharma  Itc Hotels
1  Vishnu Pratap           Singh         NaN
2   Yuvraj Singh           Bhati         NaN
3       Devendra  Singh Sisodiya         NaN
4      Vichanshu             Raj         NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Monu_Rajpoot - Monu Rajpoot.csv

ğŸ“‚ Processing file: Naman_Damami - Naman Damami.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (142, 3)
ğŸ“‰ After cleaning shape: (141, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

       First Name Last Name                                            Company
0                  Priyanka  Shri Ramswaroop Memorial College Of Engineerin...
1         Aaditya       Raj                                                NaN
2          Aakash      Deep                                                NaN
3           Aarti     Patil                                                NaN
4  Aayushi Maurya    Maurya                                  Digital Marketing

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Naman_Damami - Naman Damami.csv

ğŸ“‚ Processing file: Neeraj_Parmar - NEERAJ PARMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (2811, 3)
ğŸ“‰ After cleaning shape: (2788, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name       Last Name                               Company
0       Aman           Kumar                     Gdsc Nit Agartala
1    Dheeraj  Kumar Maradana                                   NaN
2       Love       Sabbarwal  Bharat Petroleum Corporation Limited
3    Shubham           Singh                                   Exl
4    Karthic       Elangovan                            Nexus Info

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Neeraj_Parmar - NEERAJ PARMAR.csv

ğŸ“‚ Processing file: Nikhil_Chaurasiya - Nikhil Chaurasiya.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (737, 3)
ğŸ“‰ After cleaning shape: (729, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name          Company
0     Sushil     Kumar  Globale Display
1    Karthik       A S    Bharat Intern
2      Ayush    Mishra              NaN
3  Divyanshi      Sahu              NaN
4    Aradhya     Singh              NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Nikhil_Chaurasiya - Nikhil Chaurasiya.csv

ğŸ“‚ Processing file: Nirmal LinkdIn Connections - NIRMAL MEWADA.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (3770, 3)
ğŸ“‰ After cleaning shape: (3713, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                     Company
0      Harsh     Saini                         NaN
1   Arunabha       Nag                         NaN
2      Suman     Singh                  Algozenith
3     Ashmit  Tripathi               Binary Brains
4      Vivek    Sharma  Samsung Rd Institute India

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Nirmal LinkdIn Connections - NIRMAL MEWADA.csv

ğŸ“‚ Processing file: Pawan_Kushwah - Pawan Kushwah.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (721, 3)
ğŸ“‰ After cleaning shape: (713, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name Last Name  Company
0          Ekta   Agrawal    Gptfy
1         Anand     Kumar  Youtube
2  Ritesh Kumar     Yadav      NaN
3        Shilpi      Shaw      NaN
4        Nikhil     Mehta      NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Pawan_Kushwah - Pawan Kushwah.csv

ğŸ“‚ Processing file: Pinky_Rana - Pinky Rana.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (370, 3)
ğŸ“‰ After cleaning shape: (365, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name      Company
0     Deepak      Gaur          NaN
1     Aniket      Giri          NaN
2    Hansraj     Siddh          NaN
3      Komal     Singh  Zn Infotech
4   Mohammad      Zaid    Freelance

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Pinky_Rana - Pinky Rana.csv

ğŸ“‚ Processing file: Pooran_Singh..csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (302, 3)
ğŸ“‰ After cleaning shape: (298, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name Last Name                                     Company
0         Mani     Kumar                                         NaN
1  Ayush Mohan       Sah  International College For Security Studies
2        Vivek      Shah          Jai Shree Ram Agro Private Limited
3         Yash    Mittal                             Aarna Creations
4       Vishal     Meena   Pt Madan Mohan Malaviya Hall Of Residence

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Pooran_Singh..csv

ğŸ“‚ Processing file: Prabhat_Patidar - prabhat patidar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (2179, 3)
ğŸ“‰ After cleaning shape: (2166, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                       Company
0      Kunal     Sagar                        Amazon
1   Abhishek      Soni                    Digipodium
2     Darpan         T  Department Of Cse Iit Indore
3  Mr Kalyan    Biswal       Minor In Cse  Iit Mandi
4       Ravi     Singh                     Microsoft

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Prabhat_Patidar - prabhat patidar.csv

ğŸ“‚ Processing file: Prachi_Dhakad - PRACHI DHAKAD.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (896, 3)
ğŸ“‰ After cleaning shape: (883, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name    Last Name                                            Company
0     Rifaat       Husain                                            Hcltech
1     Rashmi     Kushwaha  Training And Placement Cell Foet University Of...
2    Sankalp  Shrivastava                                         Neighborly
3   Abhishek        Verma                                                NaN
4     Sachin        Yadav                                                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Prachi_Dhakad - PRACHI DHAKAD.csv

ğŸ“‚ Processing file: Pragati_Chauhan - Pragati Chauhan.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (424, 3)
ğŸ“‰ After cleaning shape: (417, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

   First Name Last Name  Company
0      Shahan    Ansari  Al Qada
1  Parmeshwar      Nath      NaN
2      Sakshi    Tanwar  Hcltech
3       Sumit     Patel      NaN
4     Srishti    Mishra      NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Pragati_Chauhan - Pragati Chauhan.csv

ğŸ“‚ Processing file: Pranjal_Dubey - Pranjal Dubey.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (3553, 3)
ğŸ“‰ After cleaning shape: (3525, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name Last Name                                            Company
0         Mansi  Sisodiya                                                NaN
1         Mehul     Gupta                                                NaN
2        Harish    Jangid               Buniyaad  The Civil Services Society
3  Yuvraj Singh     Bhati                                                NaN
4     Subhakant    Bhokta  Rajiv Gandhi Institute Of Petroleum  Technolog...

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Pranjal_Dubey - Pranjal Dubey.csv

ğŸ“‚ Processing file: Prem kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1875, 3)
ğŸ“‰ After cleaning shape: (1848, 3)
ğŸ“‘ Cleaned columns: ['Notes', 'Unnamed 1', 'Unnamed 2']
âœ‚ï¸ Trimming long text in column: First Name

   First Name    Last Name                                            Company
2  First Name    Last Name                                            Company
3       Ayush       Shukla                   Ieee Student Branch Nit Durgapur
4       Silki          Rai                                Infosys Springboard
5       Yunus        Israr                                                NaN
6   Harshdeep  Singh Batra  Indian Institute Of Information Technology All...

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Prem kumar.csv

ğŸ“‚ Processing file: Prerana_Rajnag - PRERANA RAJNAG.csv
âœ… File read successfully with encoding: ISO-8859-1
ğŸ” Original shape: (396, 3)
ğŸ“‰ After cleaning shape: (389, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                          Company
0     Manish    Chhaba                              NaN
1     Nirmal     Kumar                              NaN
2     Preeti    Shukla                Sitare University
3       Ravi    Mourya                              NaN
4  Akashdeep     Nagar  Neokraft Global Private Limited

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Prerana_Rajnag - PRERANA RAJNAG.csv

ğŸ“‚ Processing file: Priyadarshi_Kumar - Priyadarshi Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (766, 3)
ğŸ“‰ After cleaning shape: (759, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name        Company
0       Mani     Kumar            NaN
1     Shivam    Barwal            NaN
2      Mohit     Kumar            NaN
3     Pratha     Khare  Growth Ninjas
4  Shreykant    Shukla            NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Priyadarshi_Kumar - Priyadarshi Kumar.csv

ğŸ“‚ Processing file: Priya_saini - Priya Saini.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (410, 7)
ğŸ“‰ After cleaning shape: (408, 7)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
ğŸ“Œ Selected 3 main columns.

  First Name Last Name               Company
0      Bablu     Kumar                 Ledar
1     Nitesh    Tiwari                   NaN
2      Akram    Ansari  Soni Hospital Jaipur
3     Iliyas     Ahmad         Self Employed
4     Laxman     Saroj                   NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Priya_saini - Priya Saini.csv

ğŸ“‚ Processing file: Pushpraj_Singh.csv - Pushpraj Singh.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (430, 3)
ğŸ“‰ After cleaning shape: (425, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name    Last Name                   Company
0      Abhishek     Tripathi              Webnexfusion
1          Mani        Kumar                       NaN
2  Yuvraj Singh        Bhati                       NaN
3        Gaurav        Kumar                       NaN
4         Achal  Agrawal Phd  India Research Watch Irw

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Pushpraj_Singh.csv - Pushpraj Singh.csv

ğŸ“‚ Processing file: Rahul_Kumar - Rahul Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (186, 3)
ğŸ“‰ After cleaning shape: (185, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name         Company
0       Annu     Verma             NaN
1       Ashu     Yadav  Jatariamusic01
2      Nitin    Sharma             NaN
3      Manoj   Kharkar             NaN
4     Gaurav     Kumar             NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Rahul_Kumar - Rahul Kumar.csv

ğŸ“‚ Processing file: Rahul_Kumar_Verma - Rahul Verma.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (590, 3)
ğŸ“‰ After cleaning shape: (581, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name    Last Name                                Company
0         Joel  Moirangthem                                    NaN
1      Agilesh            S  Alp Turnkey Solutions Private Limited
2  Pawan Kumar        Verma                                    NaN
3        Punam       Mandal                                    NaN
4        Afzal         Raza                                    NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Rahul_Kumar_Verma - Rahul Verma.csv

ğŸ“‚ Processing file: Rajiv_Kumar - RAJIV KUMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (2046, 3)
ğŸ“‰ After cleaning shape: (2017, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name     Last Name                              Company
0   Titiksha           Dey                     Deloitte Digital
1    Navanya        Sharma                          Karmalifeai
2     Lokesh       Trivedi                             Internpe
3     Harika     Singapogu            Prodbiz Solutions Pvt Ltd
4     Khalid  Muzamil Gani  American Society Of Civil Engineers

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Rajiv_Kumar - RAJIV KUMAR.csv

ğŸ“‚ Processing file: Ramraj_Nagar - Ramraj Nagar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (3925, 3)
ğŸ“‰ After cleaning shape: (3888, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name Last Name            Company
0        Anurag     Mehta                NaN
1       Sweccha     Yadav                NaN
2          Mani     Kumar                NaN
3         Kanak  Tembhare  Iit Bombay Sports
4  Akshay Kumar     Dubey        Technocrats

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ramraj_Nagar - Ramraj Nagar.csv

ğŸ“‚ Processing file: Rani_Kumari - Rani Kumari.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (301, 3)
ğŸ“‰ After cleaning shape: (298, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name  Last Name                   Company
0         Rahul      Yadav                       NaN
1        Nikhil      Verma                   Trademo
2  Ritesh Kumar      Yadav                       NaN
3          Janu  Chaudhary                       NaN
4       Sandeep      Kumar  Google Developer Experts

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Rani_Kumari - Rani Kumari.csv

ğŸ“‚ Processing file: Ranjeet_Kumar_Yadav - Ranjeet Yadav.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (938, 3)
ğŸ“‰ After cleaning shape: (935, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name  Last Name            Company
0      Rakshit      Gupta        Internshala
1  Rishi Kumar  Polepally                NaN
2        Kapil        Dev             Gramik
3       Pankaj      Yadav  Navodita Infotech
4     Shashank     Mishra  Edunet Foundation

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ranjeet_Kumar_Yadav - Ranjeet Yadav.csv

ğŸ“‚ Processing file: Ravi_Mourya - Ravi Mourya.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (155, 3)
ğŸ“‰ After cleaning shape: (155, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name       Company
0    Aaditya       Raj           NaN
1     Aakash     Kumar           NaN
2     Aakash      Deep           NaN
3   Abhishek  Tripathi  Webnexfusion
4      Afzal      Raza           NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ravi_Mourya - Ravi Mourya.csv

ğŸ“‚ Processing file: Ritik_Singh - ritik singh.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (128, 3)
ğŸ“‰ After cleaning shape: (128, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

       First Name Last Name                                            Company
0          Ananth    Sankar  Uc Santa Cruz Natural Language Processing Mast...
1         Kritika      Jain                                                NaN
2         Prakash    Behera                 Edutech Nttf India Private Limited
3  Chandrashekhar    M Loni                                                NaN
4         Anamika    Kumari                                                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ritik_Singh - ritik singh.csv

ğŸ“‚ Processing file: Rohit_kumar - ROHIT KUMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (212, 3)
ğŸ“‰ After cleaning shape: (211, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name     Last Name          Company
0      Alvin  Issac George  Sanjeevani Club
1       Annu         Verma              NaN
2   Abhishek         Verma              NaN
3   Abhishek        Pratap              NaN
4   Himendra         Singh              NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Rohit_kumar - ROHIT KUMAR.csv

ğŸ“‚ Processing file: Rohit_Malviya - Rohit Malviya.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (4650, 5)
ğŸ“‰ After cleaning shape: (4561, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4']
ğŸ“Œ Selected 3 main columns.

  First Name  Last Name            Company
0     Aviral      Yadav  Stemonefcommunity
1     Aayush   Aggarwal                Ukg
2   Kasinath         Ms          Skillclub
3     Preeti        Pal                NaN
4   Sidharth  Choudhary                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Rohit_Malviya - Rohit Malviya.csv

ğŸ“‚ Processing file: Sajan_Kumar - SAJAN KUMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (181, 3)
ğŸ“‰ After cleaning shape: (180, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                               Company
0     Chhaya     Pawar                                   NaN
1     Gaurav     Kumar                                   NaN
2    Prakash    Behera    Edutech Nttf India Private Limited
3    Aradhya     Singh                                   NaN
4      Harsh    Shukla  Lamrin Tech Skills University Punjab

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Sajan_Kumar - SAJAN KUMAR.csv

ğŸ“‚ Processing file: Samina_Sultana.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (402, 3)
ğŸ“‰ After cleaning shape: (390, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                        Company
0     Vishal     Singh  Forever Living Products India
1      Manoj   Kharkar                            NaN
2       Mani     Kumar                            NaN
3     Manish                                      NaN
4      Dilip    Suthar                            NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Samina_Sultana.csv

ğŸ“‚ Processing file: Sandeep_kumar - Sandeep Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (201, 7)
ğŸ“‰ After cleaning shape: (201, 7)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
ğŸ“Œ Selected 3 main columns.

  First Name  Last Name                               Company
0     Ramesh  Kumar Das                          Liquid Trees
1  Deependra     Shukla                                  Yulu
2     Govind      Kumar                                   NaN
3    Saksham     Bharti                            Supertails
4       Alok        Raj  Deepthought Growth Management System

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Sandeep_kumar - Sandeep Kumar.csv

ğŸ“‚ Processing file: Sandhya_Kaushal - Sandhya Kaushal.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (337, 3)
ğŸ“‰ After cleaning shape: (331, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

       First Name Last Name            Company
0          Gaurav     Kumar                NaN
1    Mayank Singh     Tomar  Sitare University
2  Challa Trivedh     Kumar                NaN
3            Yash    Mittal    Aarna Creations
4            Aman     Verma                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Sandhya_Kaushal - Sandhya Kaushal.csv

ğŸ“‚ Processing file: Sandhya_Parmar - Sandhya Parmar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (387, 5)
ğŸ“‰ After cleaning shape: (385, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4']
ğŸ“Œ Selected 3 main columns.

  First Name   Last Name               Company
0       Ravi        Kant  Antaragni Iit Kanpur
1   Aniruddh  Chaukrayat        Qss Global Llp
2     Gaurav      Mishra              Proshort
3     Akshat     Trivedi     Sitare University
4   Devyansh     Banwari     Sitare University

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Sandhya_Parmar - Sandhya Parmar.csv

ğŸ“‚ Processing file: Sarthaksuman_Mishra - Sarthak Mishra.csv
âœ… File read successfully with encoding: ISO-8859-1
ğŸ” Original shape: (504, 3)
ğŸ“‰ After cleaning shape: (493, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

   First Name    Last Name                  Company
0       Karan  Vishwakarma                      NaN
1       Mohit        Kumar                      NaN
2    Himanshu       Sharma                      NaN
3  Parmeshwar         Nath                      NaN
4      Vatsal         Garg  Google Developers Group

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Sarthaksuman_Mishra - Sarthak Mishra.csv

ğŸ“‚ Processing file: Satish_Mahto - Satish Mahto.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (238, 3)
ğŸ“‰ After cleaning shape: (236, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name  Last Name                                            Company
0       Pradeep      Kumar                                             Zinghr
1  Yuvraj Singh      Bhati                                                NaN
2       Shekhar    Shrivas                                               Zeni
3          Jeet  Mukherjee  Indraprastha Institute Of Information Technolo...
4         Pintu  Lohar Phd                                  Sitare University

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Satish_Mahto - Satish Mahto.csv

ğŸ“‚ Processing file: Sauhard_kumar - Sauhard kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (292, 3)
ğŸ“‰ After cleaning shape: (292, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name               Company
0    Krishna                               NaN
1     Manish                               NaN
2      Rajiv       Kumar                   NaN
3     Shivam  Chaurasiya  Bnz Green Technology
4     Shilpa      Rajput              Ampuesto

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Sauhard_kumar - Sauhard kumar.csv

ğŸ“‚ Processing file: Saurabh_Bisht - Saurabh Bisht.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (229, 3)
ğŸ“‰ After cleaning shape: (228, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

      First Name   Last Name         Company
0          Vinit   Chaudhary             NaN
1           Mani       Kumar             NaN
2         Shivam      Barwal             NaN
3       Aniruddh  Chaukrayat  Qss Global Llp
4  Surveer Singh         Rao             NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Saurabh_Bisht - Saurabh Bisht.csv

ğŸ“‚ Processing file: Shahid_Ansari - Shahid Ansari.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (200, 3)
ğŸ“‰ After cleaning shape: (199, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name Last Name                  Company
0  Mohd Shadab    Ansari  Bharat Navodaya Abhiyan
1       Gaurav     Kumar                      NaN
2        Punam    Mandal                      NaN
3         Yash    Mittal          Aarna Creations
4      Saksham    Bharti               Supertails

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Shahid_Ansari - Shahid Ansari.csv

ğŸ“‚ Processing file: Shilpi_Shaw - Shilpi Shaw.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (675, 3)
ğŸ“‰ After cleaning shape: (671, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name    Last Name                                            Company
0         Aman        Gupta                                       Selfemployed
1         Aman        Verma                                                NaN
2      Shounak        Ghosh          Reinsurance Group Of America Incorporated
3  Vivek Kumar  Shrivastava  Central Farm Machinery Training And Testing In...
4       Hemant       Sharma                                                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Shilpi_Shaw - Shilpi Shaw.csv

ğŸ“‚ Processing file: Shivam_Shukla.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1483, 3)
ğŸ“‰ After cleaning shape: (1469, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                     Company
0     Afridi                                   NaN
1    Shivani    Pandey              Sap Labs India
2    Sandeep      Ojha                      Bigify
3     Saloni    Kumari  Sovratec International Llc
4  Priyanshu   Bhargav                         NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Shivam_Shukla.csv

ğŸ“‚ Processing file: Shivang_Dubey - Shivang Dubey.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1569, 4)
ğŸ“‰ After cleaning shape: (1569, 4)
ğŸ“‘ Cleaned columns: ['Unnamed 0', 'First Name', 'Last Name', 'Company']
ğŸ“Œ Selected 3 main columns.

  First Name Last Name                                 Company
0       Yash    Mittal                         Aarna Creations
1    Saurabh     Singh                                     NaN
2  Arya Vrat     Yadav                               Pantechai
3     Shariq     Ilyas  National Institute Of Technology Delhi
4   Satyajit     Swain                             Odisharider

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Shivang_Dubey - Shivang Dubey.csv

ğŸ“‚ Processing file: Shlok_Gupta - Shlok Gupta.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (423, 7)
ğŸ“‰ After cleaning shape: (416, 7)
ğŸ“‘ Cleaned columns: ['Notes', 'Unnamed 1', 'Unnamed 2', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
âœ‚ï¸ Trimming long text in column: Notes

,Notes,Unnamed 1,Unnamed 2,Unnamed 3,Unnamed 4,Unnamed 5,Unnamed 6
2,First Name,Last Name,Company,NaN,NaN,NaN,NaN
3,Yuvraj Singh,Bhati,NaN,NaN,NaN,NaN,NaN
4,Vishal,Bhardwaj,NaN,NaN,NaN,NaN,NaN
5,Gaurav,Kumar,NaN,NaN,NaN,NaN,NaN
6,Punam,Mandal,NaN,NaN,NaN,NaN,NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Shlok_Gupta - Shlok Gupta.csv

ğŸ“‚ Processing file: Shubham Kumar - Shubham Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1888, 7)
ğŸ“‰ After cleaning shape: (1869, 7)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
ğŸ“Œ Selected 3 main columns.

  First Name Last Name                                            Company
0      Rahul    Pathak                                  Dell Technologies
1    Raushan    Ranjan                    Society Of Electonics Engineers
2      Sahil      Ojha                          Jio Platforms Limited Jpl
3    Nirupam  Naragund  Gdsc Nmit  Google Developer Student Club  Nitt...
4     Gaurav     Mehra                                             Webkul

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Shubham Kumar - Shubham Kumar.csv

ğŸ“‚ Processing file: Shubham_Kang - Shubham Kang.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (1530, 3)
ğŸ“‰ After cleaning shape: (1514, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                     Company
0    Shubham     Kumar                         NaN
1     Tanish    Laddha  Western Coalfields Limited
2     Vatsal   Agarwal   Tinkering Lab Iit Roorkee
3    Sparshi     Singh                         NaN
4   Avaneesh    Pandey  Samsung Rd Institute India

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Shubham_Kang - Shubham Kang.csv

ğŸ“‚ Processing file: Sneha_Shaw.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (328, 3)
ğŸ“‰ After cleaning shape: (324, 3)
ğŸ“‘ Cleaned columns: ['Notes', 'Unnamed 1', 'Unnamed 2']
âœ‚ï¸ Trimming long text in column: First Name

   First Name  Last Name                  Company
2  First Name  Last Name                  Company
3        Amit      Verma              Nexttechera
4        Ashu      Yadav           Jatariamusic01
5        Mani      Kumar                      NaN
6      Amrita      Yadav  Northeastern University

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Sneha_Shaw.csv

ğŸ“‚ Processing file: Sunny_Kumar - Sunny Kumar.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (337, 4)
ğŸ“‰ After cleaning shape: (337, 4)
ğŸ“‘ Cleaned columns: ['Unnamed 0', 'First Name', 'Last Name', 'Company']
ğŸ“Œ Selected 3 main columns.

  First Name Last Name            Company
0    Pranjal       Rai      Bajaj Finserv
1       Mani     Kumar                NaN
2  Satyendra     Kumar  Codesoft Infotech
3   Shaksham     Verma                NaN
4     Tushar     Verma                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Sunny_Kumar - Sunny Kumar.csv

ğŸ“‚ Processing file: Suyash_Yadav - Suyash Yadav.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (621, 7)
ğŸ“‰ After cleaning shape: (612, 7)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Position', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6']
ğŸ“Œ Selected 3 main columns.

  First Name Last Name                                   Company
0   Divyansh     Goyal                        Galas It Solutions
1     Shreya    Pandey                            Conatus Bharat
2    Saurabh     Singh                                       NaN
3   Akanksha     Bisht  Shivalik College Of Engineering Dehradun
4      Suraj     Yadav                                       NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Suyash_Yadav - Suyash Yadav.csv

ğŸ“‚ Processing file: Swati_Kumari - Swati kumari.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (504, 3)
ğŸ“‰ After cleaning shape: (494, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name         Company
0   Himanshu    Pandey       Jsw Steel
1      Nitin    Sharma             NaN
2       Ashu     Yadav  Jatariamusic01
3   Mohammad      Zaid       Freelance
4      Punam    Mandal             NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Swati_Kumari - Swati kumari.csv

ğŸ“‚ Processing file: Ujjval_Baijal - Ujjval Baijal.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (2252, 3)
ğŸ“‰ After cleaning shape: (2240, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name   Last Name                 Company
0     Eeshan       Gupta                      Zs
1     Tanish       Gupta      Astrea It Services
2    Shaveta      Sohpal  University Of Victoria
3   Swikrati  Srivastava          Unifycloud Llc
4    Utkarsh  Kumar Sahu        Publicis Sapient

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Ujjval_Baijal - Ujjval Baijal.csv

ğŸ“‚ Processing file: Uppara Sai_Maithreyi - UPPARA MAITHREYI.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (354, 3)
ğŸ“‰ After cleaning shape: (354, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                     Company
0    Ghazala      Rais                         NaN
1   Abhishek    Pratap                         NaN
2   Anshuman    Mishra  Future University Bareilly
3       Mani     Kumar                         NaN
4  Vaishnavi    Kumari                  Hirementum

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Uppara Sai_Maithreyi - UPPARA MAITHREYI.csv

ğŸ“‚ Processing file: Vinay_Gupta - VINAY GUPTA.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (312, 3)
ğŸ“‰ After cleaning shape: (309, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                                Company
0   Anshuman    Mishra             Future University Bareilly
1       Mani     Kumar                                    NaN
2       Uday     Kumar  Samsung Rd Institute India  Bangalore
3   Jitendra     Kumar                            Lendingkart
4     Shilpi      Shaw                                    NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Vinay_Gupta - VINAY GUPTA.csv

ğŸ“‚ Processing file: Vinay_Kumar - VINAY KUMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (649, 3)
ğŸ“‰ After cleaning shape: (636, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

    First Name Last Name                                        Company
0  Mohit Kumar      Sahu  Maulana Azad National Institute Of Technology
1         Mani     Kumar                                            NaN
2       Gaurav     Singh                              Sense Sharemarket
3       Manish                                                      NaN
4      Sandeep     Kumar                                            NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Vinay_Kumar - VINAY KUMAR.csv

ğŸ“‚ Processing file: Vishal_Bhardwaj - VISHAL BHARDWAJ.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (390, 3)
ğŸ“‰ After cleaning shape: (384, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

     First Name Last Name            Company
0  Yuvraj Singh     Bhati                NaN
1         Punam    Mandal                NaN
2         Nitin    Sharma                NaN
3        Hariom    Parmar  Anudip Foundation
4        Sachin     Gupta                NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Vishal_Bhardwaj - VISHAL BHARDWAJ.csv

ğŸ“‚ Processing file: Vivek_kumar - VIVEK KUMAR.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (806, 3)
ğŸ“‰ After cleaning shape: (803, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name    Last Name                    Company
0    Sparshi        Singh                        NaN
1    Aashish        Kumar                     Google
2    Vaibhav        Kadav     Techniche Iit Guwahati
3      Harsh        Kumar  Mobile Premier League Mpl
4    Bhavesh  Singh Tomer           Cyberlabs Iitism

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Vivek_kumar - VIVEK KUMAR.csv

ğŸ“‚ Processing file: Vivek_Singh - Vivek Singh.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (466, 5)
ğŸ“‰ After cleaning shape: (457, 5)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company', 'Unnamed 3', 'Unnamed 4']
ğŸ“Œ Selected 3 main columns.

  First Name Last Name                             Company
0     Tripti  Tripathi                                 NaN
1       Mani     Kumar                                 NaN
2       Ashu     Yadav                      Jatariamusic01
3     Husain       Ali                          Gaotek Inc
4      Vivek      Shah  Jai Shree Ram Agro Private Limited

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Vivek_Singh - Vivek Singh.csv

ğŸ“‚ Processing file: YuvrajSingh_Bhati - Yuvraj Bhati.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (175, 3)
ğŸ“‰ After cleaning shape: (175, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name Last Name                   Company
0       Ajay     Kumar               Debate Club
1      Rahul     Kumar                       NaN
2   Pushpraj     Singh                       NaN
3    Sandeep     Kumar  Google Developer Experts
4     Aditya     Singh                       NaN

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\YuvrajSingh_Bhati - Yuvraj Bhati.csv
[CONVERTED] Yuvraj_Chirag - Yuvraj Chirag.xlsx -> Yuvraj_Chirag - Yuvraj Chirag.csv

ğŸ“‚ Processing file: Yuvraj_Chirag - Yuvraj Chirag.csv
âœ… File read successfully with encoding: utf-8
ğŸ” Original shape: (763, 3)
ğŸ“‰ After cleaning shape: (753, 3)
ğŸ“‘ Cleaned columns: ['First Name', 'Last Name', 'Company']

  First Name      Last Name Company
0     Sachin          Yadav     NaN
1      Punam         Mandal     NaN
2       Aman  Singh Chauhan     NaN
3       Mani          Kumar     NaN
4       Amar          Kumar    Yoho

ğŸ’¾ Cleaned data saved to: D:\SEM_2\MFC\graphAssignment\cleanedFiles\Yuvraj_Chirag - Yuvraj Chirag.csv

In [19]:
for file_name in os.listdir(output_folder):
    if not file_name.endswith('.csv'):
        continue

    old_path = os.path.join(output_folder, file_name)

    if '-' in file_name:
        new_name = file_name.split('-', 1)[1].strip()
    else:
        new_name = file_name

    new_name = os.path.splitext(new_name)[0].title().strip() + '.csv'

    if new_name in existing_names:
        print(f"[DUPLICATE] Skipping duplicate file: {new_name}")
        os.remove(old_path)
        continue

    new_path = os.path.join(output_folder, new_name)
    os.rename(old_path, new_path)
    print(f"[RENAMED] {file_name} -> {new_name}")
    existing_names.add(new_name)

[RENAMED] Aaditya_Raj - Aaditya Raj.csv -> Aaditya Raj.csv
[RENAMED] Abhishek_Singh - Abhishek Singh.csv -> Abhishek Singh.csv
[RENAMED] Aditya_Singh - Aditya NO-LASTNAME.csv -> Aditya No-Lastname.csv
[RENAMED] Afzal_Raza - Afzl Raza.csv -> Afzl Raza.csv
[RENAMED] Ajay Jatav Connections-1 - Ajay Jatav.csv -> 1 - Ajay Jatav.csv
[RENAMED] Ajit_Yadav - Ajit Yadav.csv -> Ajit Yadav.csv
[RENAMED] Akanksha_Kushwaha - Akanksha.csv -> Akanksha.csv
[RENAMED] Alok_raj - Alok Raj.csv -> Alok Raj.csv
[RENAMED] Aman_ Adarsh.csv -> Aman_ Adarsh.csv
[RENAMED] Aman_Singh - Aman Singh.csv -> Aman Singh.csv
[RENAMED] amit_kumar - Amit Kumar.csv -> Amit Kumar.csv
[RENAMED] Anamika_Kumari - Anamika Kumari.csv -> Anamika Kumari.csv
[RENAMED] Anand_Pandey - Anand Pandey.csv -> Anand Pandey.csv
[RENAMED] Anoop_Kumar - ANOOP KUMAR.csv -> Anoop Kumar.csv
[RENAMED] Anshu_Kumar - Anshu Kumar.csv -> Anshu Kumar.csv
[RENAMED] Anuradha_Tiwari - Anuradha Tiwari.csv -> Anuradha Tiwari.csv
[RENAMED] Anushri_Mishra - Anushri Mishra.csv -> Anushri Mishra.csv
[RENAMED] Aradhya_Patel - Aradhya Patel.csv -> Aradhya Patel.csv
[RENAMED] Arjun Kadam - Arjun Kadam.csv -> Arjun Kadam.csv
[RENAMED] Arpita_Tripathi - Arpita Tripathi.csv -> Arpita Tripathi.csv
[RENAMED] Arun_Singh - ARUN KUMAR.csv -> Arun Kumar.csv
[RENAMED] aryan_saini - Aryan Saini.csv -> Aryan Saini.csv
[RENAMED] Ashwin_Yadav - Ashwin Yadav.csv -> Ashwin Yadav.csv
[RENAMED] Ayush_Kumar - Ayush Kumar.csv -> Ayush Kumar.csv
[RENAMED] Ayush_yadav - AYUSH YADAV.csv -> Ayush Yadav.csv
[RENAMED] Bhagwati_Chouhan - Bhagwati NO-LASTNAME.csv -> Bhagwati No-Lastname.csv
[RENAMED] Bhaskar_mahato - Bhaskar Mahato.csv -> Bhaskar Mahato.csv
[RENAMED] ByagariPraveen_Kumar - Byagari Kumar.csv -> Byagari Kumar.csv
[RENAMED] Challa_Trivedh_Kumar - CHALLA TRIVEDH KUMAR.csv -> Challa Trivedh Kumar.csv
[RENAMED] CHANDAN_GIRI - Chandan Giri.csv -> Chandan Giri.csv
[RENAMED] Chiranjeet_Biswas - Chiranjeet Biswas.csv -> Chiranjeet Biswas.csv
[RENAMED] Cleaned_Connections - Bhagwan Singh Rawat.csv -> Bhagwan Singh Rawat.csv
[RENAMED] Connection - VISHAL KUMAR.csv -> Vishal Kumar.csv
[RENAMED] connection1-1 - Aman Adarsh.csv -> 1 - Aman Adarsh.csv
[RENAMED] Connections - Aman Verma.csv -> Aman Verma.csv
[RENAMED] Connections - Anand Singh.csv -> Anand Singh.csv
[RENAMED] Connections - Harshit Chaturvedi.csv -> Harshit Chaturvedi.csv
[RENAMED] connections - N. Arun Kumar.csv -> N. Arun Kumar.csv
[RENAMED] Connections - Ompal Yadav.csv -> Ompal Yadav.csv
[RENAMED] Connections - RAVI RAJPUT.csv -> Ravi Rajput.csv
[RENAMED] debangsu_misra.csv - Debangsu Misra.csv -> Debangsu Misra.csv
[RENAMED] Dilip_Suthar - DILIP SUTHAR.csv -> Dilip Suthar.csv
[RENAMED] Disha_Sahu - Disha Sahu.csv -> Disha Sahu.csv
[RENAMED] Divyanshi_Rathour - Divyanshi Rathour.csv -> Divyanshi Rathour.csv
[RENAMED] Divyanshi_Sahu.csv - Divyanshi Sahu.csv -> Divyanshi Sahu.csv
[RENAMED] Ekta Kumari - Ekta Kumari.csv -> Ekta Kumari.csv
[RENAMED] gaurav_khainwar.csv - Gaurav Khainwar.csv -> Gaurav Khainwar.csv
[RENAMED] Gaurav_Rathore - Gaurav Rathore.csv -> Gaurav Rathore.csv
[RENAMED] Gaurav_Tiwari - GAURAV TIWARI.csv -> Gaurav Tiwari.csv
[RENAMED] Harisingh_Rajpoot - Harisingh Rajpoot.csv -> Harisingh Rajpoot.csv
[RENAMED] HimanshuKanwarChundawat - Himanshu Chundawat.csv -> Himanshu Chundawat.csv
[RENAMED] Himanshu_kumar - Himanshu Kumar.csv -> Himanshu Kumar.csv
[RENAMED] Himanshu_Srivastav - Himanshu Srivastav.csv -> Himanshu Srivastav.csv
[RENAMED] Hiranya_Patil - Hiranya Patil.csv -> Hiranya Patil.csv
[RENAMED] Ishant_Bhoyar - ISHANT BHOYAR.csv -> Ishant Bhoyar.csv
[RENAMED] JAMAL_AKHTAR - JAMAL AKHTAR.csv -> Jamal Akhtar.csv

[RENAMED] Janu_Chaudhary - Janu Chaudhary.csv -> Janu Chaudhary.csv
[RENAMED] KARANPAL_SINGH_RANAWAT - KARANPAL SINGH RANAWAT.csv -> Karanpal Singh Ranawat.csv
[RENAMED] khushi_narwariya - Khushi Narwariya.csv -> Khushi Narwariya.csv
[RENAMED] Kuldeep_Saraswat - Kuldeep saraswat.csv -> Kuldeep Saraswat.csv
[RENAMED] Lakhan_Rathore - Lakhan Rathore.csv -> Lakhan Rathore.csv
[RENAMED] linkedin list - Nidhi Kumari.csv -> Nidhi Kumari.csv
[RENAMED] linkedin_Connections - SNEHA SHAW.csv -> Sneha Shaw.csv
[RENAMED] Linked_in_connection - Samina Sultana.csv -> Samina Sultana.csv
[RENAMED] Maneesh_Sakhwar - Maneesh Sakhwar.csv -> Maneesh Sakhwar.csv
[RENAMED] Manish_Tiwari - MANISH KUMAR TIWARI.csv -> Manish Kumar Tiwari.csv
[RENAMED] Manoj K. Connections - MANOJ KHARKAR.csv -> Manoj Kharkar.csv
[RENAMED] Manoj_Dewda - Manoj Dewda.csv -> Manoj Dewda.csv
[RENAMED] Mausam_kumari - Mausam kumari.csv -> Mausam Kumari.csv
[RENAMED] Mayank_Raj - Mayank Raj.csv -> Mayank Raj.csv
[RENAMED] Mehtab_Alam - MEHTAB ALAM.csv -> Mehtab Alam.csv
[RENAMED] Mohd_Monis - Monis.csv -> Monis.csv
[RENAMED] Mohit_Sharma - Mohit Sharma.csv -> Mohit Sharma.csv
[RENAMED] Monu_Rajpoot - Monu Rajpoot.csv -> Monu Rajpoot.csv
[RENAMED] Naman_Damami - Naman Damami.csv -> Naman Damami.csv
[RENAMED] Neeraj_Parmar - NEERAJ PARMAR.csv -> Neeraj Parmar.csv
[RENAMED] Nikhil_Chaurasiya - Nikhil Chaurasiya.csv -> Nikhil Chaurasiya.csv
[RENAMED] Nirmal LinkdIn Connections - NIRMAL MEWADA.csv -> Nirmal Mewada.csv
[RENAMED] Pawan_Kushwah - Pawan Kushwah.csv -> Pawan Kushwah.csv
[RENAMED] Pinky_Rana - Pinky Rana.csv -> Pinky Rana.csv
[RENAMED] Pooran_Singh..csv -> Pooran_Singh..csv
[RENAMED] Prabhat_Patidar - prabhat patidar.csv -> Prabhat Patidar.csv
[RENAMED] Prachi_Dhakad - PRACHI DHAKAD.csv -> Prachi Dhakad.csv
[RENAMED] Pragati_Chauhan - Pragati Chauhan.csv -> Pragati Chauhan.csv
[RENAMED] Pranjal_Dubey - Pranjal Dubey.csv -> Pranjal Dubey.csv
[RENAMED] Prem kumar.csv -> Prem Kumar.csv
[RENAMED] Prerana_Rajnag - PRERANA RAJNAG.csv -> Prerana Rajnag.csv
[RENAMED] Priyadarshi_Kumar - Priyadarshi Kumar.csv -> Priyadarshi Kumar.csv
[RENAMED] Priya_saini - Priya Saini.csv -> Priya Saini.csv
[RENAMED] Pushpraj_Singh.csv - Pushpraj Singh.csv -> Pushpraj Singh.csv
[RENAMED] Rahul_Kumar - Rahul Kumar.csv -> Rahul Kumar.csv
[RENAMED] Rahul_Kumar_Verma - Rahul Verma.csv -> Rahul Verma.csv
[RENAMED] Rajiv_Kumar - RAJIV KUMAR.csv -> Rajiv Kumar.csv
[RENAMED] Ramraj_Nagar - Ramraj Nagar.csv -> Ramraj Nagar.csv
[RENAMED] Rani_Kumari - Rani Kumari.csv -> Rani Kumari.csv
[RENAMED] Ranjeet_Kumar_Yadav - Ranjeet Yadav.csv -> Ranjeet Yadav.csv
[RENAMED] Ravi_Mourya - Ravi Mourya.csv -> Ravi Mourya.csv
[RENAMED] Ritik_Singh - ritik singh.csv -> Ritik Singh.csv
[RENAMED] Rohit_kumar - ROHIT KUMAR.csv -> Rohit Kumar.csv
[RENAMED] Rohit_Malviya - Rohit Malviya.csv -> Rohit Malviya.csv
[RENAMED] Sajan_Kumar - SAJAN KUMAR.csv -> Sajan Kumar.csv
[RENAMED] Samina_Sultana.csv -> Samina_Sultana.csv
[RENAMED] Sandeep_kumar - Sandeep Kumar.csv -> Sandeep Kumar.csv
[RENAMED] Sandhya_Kaushal - Sandhya Kaushal.csv -> Sandhya Kaushal.csv
[RENAMED] Sandhya_Parmar - Sandhya Parmar.csv -> Sandhya Parmar.csv
[RENAMED] Sarthaksuman_Mishra - Sarthak Mishra.csv -> Sarthak Mishra.csv
[RENAMED] Satish_Mahto - Satish Mahto.csv -> Satish Mahto.csv
[RENAMED] Sauhard_kumar - Sauhard kumar.csv -> Sauhard Kumar.csv
[RENAMED] Saurabh_Bisht - Saurabh Bisht.csv -> Saurabh Bisht.csv
[RENAMED] Shahid_Ansari - Shahid Ansari.csv -> Shahid Ansari.csv
[RENAMED] Shilpi_Shaw - Shilpi Shaw.csv -> Shilpi Shaw.csv
[RENAMED] Shivam_Shukla.csv -> Shivam_Shukla.csv
[RENAMED] Shivang_Dubey - Shivang Dubey.csv -> Shivang Dubey.csv
[RENAMED] Shlok_Gupta - Shlok Gupta.csv -> Shlok Gupta.csv
[RENAMED] Shubham Kumar - Shubham Kumar.csv -> Shubham Kumar.csv
[RENAMED] Shubham_Kang - Shubham Kang.csv -> Shubham Kang.csv
[RENAMED] Sneha_Shaw.csv -> Sneha_Shaw.csv
[RENAMED] Sunny_Kumar - Sunny Kumar.csv -> Sunny Kumar.csv
[RENAMED] Suyash_Yadav - Suyash Yadav.csv -> Suyash Yadav.csv
[RENAMED] Swati_Kumari - Swati kumari.csv -> Swati Kumari.csv
[RENAMED] Ujjval_Baijal - Ujjval Baijal.csv -> Ujjval Baijal.csv
[RENAMED] Uppara Sai_Maithreyi - UPPARA MAITHREYI.csv -> Uppara Maithreyi.csv
[RENAMED] Vinay_Gupta - VINAY GUPTA.csv -> Vinay Gupta.csv
[RENAMED] Vinay_Kumar - VINAY KUMAR.csv -> Vinay Kumar.csv
[RENAMED] Vishal_Bhardwaj - VISHAL BHARDWAJ.csv -> Vishal Bhardwaj.csv
[RENAMED] Vivek_kumar - VIVEK KUMAR.csv -> Vivek Kumar.csv
[RENAMED] Vivek_Singh - Vivek Singh.csv -> Vivek Singh.csv
[RENAMED] YuvrajSingh_Bhati - Yuvraj Bhati.csv -> Yuvraj Bhati.csv
[RENAMED] Yuvraj_Chirag - Yuvraj Chirag.csv -> Yuvraj Chirag.csv

In [20]:
print("\n--- âœ… Summary ---")
print("Cleaned files:")
for f in cleaned_files:
    print(f" - {f}")

print("\nSkipped or uncleaned files:")
for f in skipped_files:
    print(f" - {f}")

--- âœ… Summary ---
Cleaned files:
 - Aaditya_Raj - Aaditya Raj.csv
 - Abhishek_Singh - Abhishek Singh.csv
 - Aditya_Singh - Aditya NO-LASTNAME.csv
 - Afzal_Raza - Afzl Raza.csv
 - Ajay Jatav Connections-1 - Ajay Jatav.csv
 - Ajit_Yadav - Ajit Yadav.csv
 - Akanksha_Kushwaha - Akanksha.csv
 - Alok_raj - Alok Raj.csv
 - Aman_ Adarsh.csv
 - Aman_Singh - Aman Singh.csv
 - amit_kumar - Amit Kumar.csv
 - Anamika_Kumari - Anamika Kumari.csv
 - Anand_Pandey - Anand Pandey.csv
 - Anoop_Kumar - ANOOP KUMAR.csv
 - Anshu_Kumar - Anshu Kumar.csv
 - Anuradha_Tiwari - Anuradha Tiwari.csv
 - Anushri_Mishra - Anushri Mishra.csv
 - Aradhya_Patel - Aradhya Patel.csv
 - Arjun Kadam - Arjun Kadam.csv
 - Arpita_Tripathi - Arpita Tripathi.csv
 - Arun_Singh - ARUN KUMAR.csv
 - aryan_saini - Aryan Saini.csv
 - Ashwin_Yadav - Ashwin Yadav.csv
 - Ayush_Kumar - Ayush Kumar.csv
 - Ayush_yadav - AYUSH YADAV.csv
 - Bhagwati_Chouhan - Bhagwati NO-LASTNAME.csv
 - Bhaskar_mahato - Bhaskar Mahato.csv
 - ByagariPraveen_Kumar - Byagari Kumar.csv
 - Challa_Trivedh_Kumar - CHALLA TRIVEDH KUMAR.csv
 - CHANDAN_GIRI - Chandan Giri.csv
 - Chiranjeet_Biswas - Chiranjeet Biswas.csv
 - Cleaned_Connections - Bhagwan Singh Rawat.csv
 - Connection - VISHAL KUMAR.csv
 - connection1-1 - Aman Adarsh.csv
 - Connections - Aman Verma.csv
 - Connections - Anand Singh.csv
 - Connections - Harshit Chaturvedi.csv
 - connections - N. Arun Kumar.csv
 - Connections - Ompal Yadav.csv
 - Connections - RAVI RAJPUT.csv
 - debangsu_misra.csv - Debangsu Misra.csv
 - Dilip_Suthar - DILIP SUTHAR.csv
 - Disha_Sahu - Disha Sahu.csv
 - Divyanshi_Rathour - Divyanshi Rathour.csv
 - Divyanshi_Sahu.csv - Divyanshi Sahu.csv
 - Ekta Kumari - Ekta Kumari.csv
 - gaurav_khainwar.csv - Gaurav Khainwar.csv
 - Gaurav_Rathore - Gaurav Rathore.csv
 - Gaurav_Tiwari - GAURAV TIWARI.csv
 - Harisingh_Rajpoot - Harisingh Rajpoot.csv
 - HimanshuKanwarChundawat - Himanshu Chundawat.csv
 - Himanshu_kumar - Himanshu Kumar.csv
 - Himanshu_Srivastav - Himanshu Srivastav.csv
 - Hiranya_Patil - Hiranya Patil.csv
 - Ishant_Bhoyar - ISHANT BHOYAR.csv
 - JAMAL_AKHTAR - JAMAL AKHTAR.csv
 - Janu_Chaudhary - Janu Chaudhary.csv
 - KARANPAL_SINGH_RANAWAT - KARANPAL SINGH RANAWAT.csv
 - khushi_narwariya - Khushi Narwariya.csv
 - Kuldeep_Saraswat - Kuldeep saraswat.csv
 - Lakhan_Rathore - Lakhan Rathore.csv
 - linkedin list - Nidhi Kumari.csv
 - linkedin_Connections - SNEHA SHAW.csv
 - Linked_in_connection - Samina Sultana.csv
 - Maneesh_Sakhwar - Maneesh Sakhwar.csv
 - Manish_Tiwari - MANISH KUMAR TIWARI.csv
 - Manoj K. Connections - MANOJ KHARKAR.csv
 - Manoj_Dewda - Manoj Dewda.csv
 - Mausam_kumari - Mausam kumari.csv
 - Mayank_Raj - Mayank Raj.csv
 - Mehtab_Alam - MEHTAB ALAM.csv
 - Mohd_Monis - Monis.csv
 - Mohit_Sharma - Mohit Sharma.csv
 - Monu_Rajpoot - Monu Rajpoot.csv
 - Naman_Damami - Naman Damami.csv
 - Neeraj_Parmar - NEERAJ PARMAR.csv
 - Nikhil_Chaurasiya - Nikhil Chaurasiya.csv
 - Nirmal LinkdIn Connections - NIRMAL MEWADA.csv
 - Pawan_Kushwah - Pawan Kushwah.csv
 - Pinky_Rana - Pinky Rana.csv
 - Pooran_Singh..csv
 - Prabhat_Patidar - prabhat patidar.csv
 - Prachi_Dhakad - PRACHI DHAKAD.csv
 - Pragati_Chauhan - Pragati Chauhan.csv
 - Pranjal_Dubey - Pranjal Dubey.csv
 - Prem kumar.csv
 - Prerana_Rajnag - PRERANA RAJNAG.csv
 - Priyadarshi_Kumar - Priyadarshi Kumar.csv
 - Priya_saini - Priya Saini.csv
 - Pushpraj_Singh.csv - Pushpraj Singh.csv
 - Rahul_Kumar - Rahul Kumar.csv
 - Rahul_Kumar_Verma - Rahul Verma.csv
 - Rajiv_Kumar - RAJIV KUMAR.csv
 - Ramraj_Nagar - Ramraj Nagar.csv
 - Rani_Kumari - Rani Kumari.csv
 - Ranjeet_Kumar_Yadav - Ranjeet Yadav.csv
 - Ravi_Mourya - Ravi Mourya.csv
 - Ritik_Singh - ritik singh.csv
 - Rohit_kumar - ROHIT KUMAR.csv
 - Rohit_Malviya - Rohit Malviya.csv
 - Sajan_Kumar - SAJAN KUMAR.csv
 - Samina_Sultana.csv
 - Sandeep_kumar - Sandeep Kumar.csv
 - Sandhya_Kaushal - Sandhya Kaushal.csv
 - Sandhya_Parmar - Sandhya Parmar.csv
 - Sarthaksuman_Mishra - Sarthak Mishra.csv
 - Satish_Mahto - Satish Mahto.csv
 - Sauhard_kumar - Sauhard kumar.csv
 - Saurabh_Bisht - Saurabh Bisht.csv
 - Shahid_Ansari - Shahid Ansari.csv
 - Shilpi_Shaw - Shilpi Shaw.csv
 - Shivam_Shukla.csv
 - Shivang_Dubey - Shivang Dubey.csv
 - Shlok_Gupta - Shlok Gupta.csv
 - Shubham Kumar - Shubham Kumar.csv
 - Shubham_Kang - Shubham Kang.csv
 - Sneha_Shaw.csv
 - Sunny_Kumar - Sunny Kumar.csv
 - Suyash_Yadav - Suyash Yadav.csv
 - Swati_Kumari - Swati kumari.csv
 - Ujjval_Baijal - Ujjval Baijal.csv
 - Uppara Sai_Maithreyi - UPPARA MAITHREYI.csv
 - Vinay_Gupta - VINAY GUPTA.csv
 - Vinay_Kumar - VINAY KUMAR.csv
 - Vishal_Bhardwaj - VISHAL BHARDWAJ.csv
 - Vivek_kumar - VIVEK KUMAR.csv
 - Vivek_Singh - Vivek Singh.csv
 - YuvrajSingh_Bhati - Yuvraj Bhati.csv
 - Yuvraj_Chirag - Yuvraj Chirag.csv

Skipped or uncleaned files:
 - desktop.ini

### Some Manual Data Cleaning

#### 1. Renaming "1 - Ajay Jatav.csv" and "1 - Aman Adarsh.csv" to "Ajay Jatav.csv" and "Aman Adarsh.csv" respectively.

#### 2. Samina_Sultana.csv, Aman_Adrash and Sneha_Shaw removed because they have duplicates.

#### 3.Anamika kumari.csv have duplicate row of column name's so that I removed.

#### 4.Shlok Gupta.csv and Ompal Yadav.csv, both files have 5 columns and didn't have named them as ["First Name", "Last Name","Company"], So shlok Gupta.csv have extra row at the top so I remove that and Ompal Yadav.csv have also extra row and some unwanted column space between them so removed that also.

#### 5. At the Start I also renamed "Vivek Singh- Vivek Kumar.csv" to "Vivek Singh- Vivek Singh.csv" because "Vivek Kumar- Vivek Kumar.csv" already exist in raw file folder and I choose Names (for rename) from right side of underscore.

#### 6. I clean pooran singh.csv manually like giving space and many things.

In [24]:
import os

# Specify the folder path
folder_path = r'D:\SEM_2\MFC\graphAssignment\cleanedFiles'

# Count files (not directories) in the folder
file_count = sum(1 for entry in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, entry)))

print(f"ğŸ“ Total number of files in '{folder_path}': {file_count}")

ğŸ“ Total number of files in 'D:\SEM_2\MFC\graphAssignment\cleanedFiles': 126